{{#each movies.models}}
  <article class="Movie">
    <h1 class="Movie__title"> {{attributes.title}} </h1>
    {{#if attributes.image_url}}
      <img class="Movie__image" src="{{attributes.image_url}}"/>
    {{/if}}
    <p class="Movie__synopsis"> {{attributes.synopsis}} </p>
    <a href="{{attributes.watch_url}}">Watch</a>
    {{#if attributes.movie_db_url}}    
      <a href="{{attributes.movie_db_url}}">More information...</a>
    {{/if}}
    {{#if attributes.rating}}
      <span class="Movie__rating" title="TheMovieDb rating">
        {{attributes.rating}}
      </span>
    {{/if}}
  </article>
{{/each}}
